@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-novel-border: var(--novel-border);
  --color-novel-input: var(--novel-input);
  --color-novel-ring: var(--novel-ring);

  --color-novel-background: var(--novel-background);
  --color-novel-foreground: var(--novel-foreground);

  --color-novel-primary: var(--novel-primary);
  --color-novel-primary-foreground: var(--novel-primary-foreground);

  --color-novel-secondary: var(--novel-secondary);
  --color-novel-secondary-foreground: var(--novel-secondary-foreground);

  --color-novel-destructive: var(--novel-destructive);
  --color-novel-destructive-foreground: var(--novel-destructive-foreground);

  --color-novel-muted: var(--novel-muted);
  --color-novel-muted-foreground: var(--novel-muted-foreground);

  --color-novel-accent: var(--novel-accent);
  --color-novel-accent-foreground: var(--novel-accent-foreground);

  --color-novel-popover: var(--novel-popover);
  --color-novel-popover-foreground: var(--novel-popover-foreground);

}

@layer base {
  :root {
    --novel-background: hsl(0 0% 100%);
    --novel-foreground: hsl(222.2 84% 4.9%);

    --novel-popover: hsl(0 0% 100%);
    --novel-popover-foreground: hsl(222.2 84% 4.9%);

    --novel-primary: hsl(222.2 47.4% 11.2%);
    --novel-primary-foreground: hsl(210 40% 98%);

    --novel-secondary: hsl(210 40% 96.1%);
    --novel-secondary-foreground: hsl(222.2 47.4% 11.2%);

    --novel-muted: hsl(210 40% 96.1%);
    --novel-muted-foreground: hsl(215.4 16.3% 46.9%);

    --novel-accent: hsl(210 40% 96.1%);
    --novel-accent-foreground: hsl(222.2 47.4% 11.2%);

    --novel-destructive: hsl(0 84.2% 60.2%);
    --novel-destructive-foreground: hsl(210 40% 98%);

    --novel-border: hsl(214.3 31.8% 91.4%);
    --novel-input: hsl(214.3 31.8% 91.4%);
    --novel-ring: hsl(222.2 84% 4.9%);

    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;
  }

  .dark {
    --novel-background: hsl(222.2 84% 4.9%);
    --novel-foreground: hsl(210 40% 98%);

    --novel-popover: hsl(222.2 84% 4.9%);
    --novel-popover-foreground: hsl(210 40% 98%);

    --novel-primary: hsl(210 40% 98%);
    --novel-primary-foreground: hsl(222.2 47.4% 11.2%);

    --novel-secondary: hsl(217.2 32.6% 17.5%);
    --novel-secondary-foreground: hsl(210 40% 98%);

    --novel-muted: hsl(217.2 32.6% 17.5%);
    --novel-muted-foreground: hsl(215 20.2% 65.1%);

    --novel-accent: hsl(217.2 32.6% 17.5%);
    --novel-accent-foreground: hsl(210 40% 98%);

    --novel-destructive: hsl(0 62.8% 30.6%);
    --novel-destructive-foreground: hsl(210 40% 98%);

    --novel-border: hsl(217.2 32.6% 17.5%);
    --novel-input: hsl(217.2 32.6% 17.5%);
    --novel-ring: hsl(212.7 26.8% 83.9%);

    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;
  }
}